body{
    margin: 0;
    font-size: 12px;
    font-family: Arial;
}
.topo{
    height: 30px;
    background-color:black;
    color: white;
}
.topoInt{
    width: 100%;
    max-width: 1040px;
    height: 30px;   
    margin: auto;
}
.topoleft{
    width: 50%;
    height: 30px;
    float: left;   

}
.toporight{
    width: 50%;
    height: 30px;
    float: right;
    margin-top: 2px; 

}
.topoleft ul {
    margin: 0;
    padding: 0;
    list-style: none;    
}
.topoleft li {
    right: 30px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 30px;
    color: white;
}

.topoleft li a {
    text-decoration: none;
    color: white;
}
.topoleft li a:hover{ 
    color: rgb(103, 176, 235);  
}

.topoBusca{
    width: 110px;
    height: 18px;    
}
.toporight a{
    float: right;

}
.toporight input{
    float: right;

}
.toporight img{
    margin-right: 1px;
    margin-left: 1px;
}

/*____________*/

.topo2{
    height: 95px; 
    color:black;
  
}
.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;   
    margin: auto;
  
}

.logo{
    width: 230px;
    height: 95px;
    float: left;
    margin-top: 12px;
}
.topo2 .banner{
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: red;
}

.menu{
    height: 40px;
    background-color: red;
    color: white;
}

.menuint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
    height: 40px;   
}
/* arrumando menu*/
.menu ul{
    padding: 0;
    list-style: none;
}
.menu li{
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}
.menu a{
    color: white;
    text-decoration: none;    
}
/*ate aqui foi menu sem dropo down*/
.submenu{
    width: 150px;
    height: 150px;
    background-color: rgb(206, 112, 112);
    position: absolute;
    display: none;
}
.menu li:hover .submenu{
    display: block;
}

.submenuitem{
    width: 140px;
    height: 30px;
    line-height: 30px;
    color: white;
    padding-left: 10px;
}
.submenuitem:hover{
    background-color: black;
    color: white;
}

/*ultimasnoticias*/

.ultimasnoticias{
    height: 40px;   
}

.ultimasnoticiasint{
    margin: auto;
    width: 100%;
    max-width: 1040px;
    height: 40px;
    line-height: 50px;
    
}
.areanoticia{
    height: 28px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;

}
.ultimanoticiastitulo{
    background-color: red;
    color: white;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.ultimanoticiasresumo{
    color: black;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 8px;

}
.containerint{
    margin: auto;
    width: 100%;
    max-width: 1040px;
    background-color: beige;
}

/*container*/

.rightside{
    width: 275px;
    min-height: 200px;
    float: right;
    background-color: rgb(110, 112, 112);
    margin-left: 12px;
}

.leftside{
    width: 753px;
    min-height: 200px;
    float: left;
    background-color: rgb(54, 175, 175)
}